#fb {
    height: 35px;
    margin-right: 5px;
}

#google {
    height: 35px;
    margin-right: 7px;
}

#twitter {
    height: 32px;
    margin-right: 3px;
}

.badge {
    position: relative;
    margin-left: -5px;
    margin-top: -2.5rem;
    background-color: rgba(255, 255, 255, 0.65);
}

.fa-shopping-basket {
    font-size: 2.3rem;
}

.fb {
    text-align: left;
}
.gl {
    text-align: left;
}
.tw {
    text-align: left;
}
.profile {
    margin-top:5px;
    padding:0;
    width: 50px;
    height: 50px;
}
.provider {
    position: relative;
    left: -20px;
    top: 20px;
    width: 15px;
    height: 15px;
}