    
li:hover {
    background-color: #647DB3;
}

.btn-group {
    padding: 1px;
}
#caption {
    grid-area: caption;
    padding: 1rem;
    grid-row-start: 1;
    grid-row-end: span 1;
}
#image {
    grid-area: image;
    grid-row-start: 2;
    grid-row-end: span 2;
}
.v-wrap {
    grid-template-areas: "caption"
                         "image";
    display: grid;
    grid-template-rows: 3fr;
    grid-row-gap: 1rem;
}
