<div class="thumbnail hidden" *ngIf="user$ | async as user">
  <div class="caption" *ngIf="sku$ | async as sku">
    <div class="row">
      <div class="col-xs-12">
        <h3>Customizations SKU:</h3>
        <hr>
        <div *ngIf="sum$ |async as sum">
          <div *ngIf="sku.cabinet?.sku">
            <h4>SKU: {{ sku.cabinet?.sku }}</h4>
            <span>
              {{ user?.currency | uppercase }}$
              <span *ngIf="user.currency === 'can'"> {{ sku.cabinet?.cost * sum?.can | number:'1.2-2' }}</span>
              <span *ngIf="user.currency === 'usd'"> {{ sku.cabinet?.cost * sum?.usd | number:'1.2-2' }}</span>
            </span>
          </div>
          <div *ngIf="sku.material?.cost">
            <h4>Material</h4>
            <span>
              {{ user?.currency | uppercase }}$
              <span *ngIf="user.currency === 'can'"> {{ ((sku.cabinet?.cost * sku.material?.cost) - sku.cabinet?.cost) * sum?.can | number:'1.2-2' }}</span>
              <span *ngIf="user.currency === 'usd'"> {{ ((sku.cabinet?.cost * sku.material?.cost) - sku.cabinet?.cost) * sum?.usd | number:'1.2-2' }}</span>
            </span>
          </div>
          <div *ngIf="sku.counter?.cost">
            <h4>Counter top</h4>
            {{ user?.currency | uppercase }}$
            <span *ngIf="user.currency === 'can'"> {{ sku.counter?.cost * sum?.can | number:'1.2-2' }}</span>
            <span *ngIf="user.currency === 'usd'"> {{ sku.counter?.cost * sum?.usd | number:'1.2-2' }}</span>
          </div>
          <div *ngIf="sku.pantry?.cost">
            <h4>Pantry</h4>
            <span>
              {{ user?.currency | uppercase }}$
              <span *ngIf="user.currency === 'can'"> {{ (sku.pantry?.total * mCost) * sum?.can | number:'1.2-2' }}</span>
              <span *ngIf="user.currency === 'usd'"> {{ (sku.pantry?.total * mCost) * sum?.usd | number:'1.2-2' }}</span>
            </span>
          </div>
          <h4 *ngIf="!accessoriesTotal == '0'">Accessories</h4>
          <div *ngFor="let access of sku.accessories">
            <h6>Accessory {{ access.sku }}</h6>
            <p>
              {{ user?.currency | uppercase }}$
              <span *ngIf="user.currency === 'can'"> {{ access?.total * sum?.can | number:'1.2-2' }}</span>
              <span *ngIf="user.currency === 'usd'"> {{ access?.total * sum?.usd | number:'1.2-2' }}</span>
            </p>
          </div>
          <div>
            <h4>Total</h4>
            <span>
              {{ user?.currency | uppercase }}$
              <span *ngIf="user.currency === 'can'"> {{ total * sum?.can | number:'1.2-2' }}</span>
              <span *ngIf="user.currency === 'usd'"> {{ total * sum?.usd | number:'1.2-2' }}</span>
            </span>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
