.wrapper {
    position: fixed;
    bottom: 50px;
    right: 16%;
    z-index: 9999;
    width: 14rem;
  }

  dd > img, h3 > img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    display: none;
    top: 0;
    background-color: #fff;
    z-index: 999;
    box-shadow: .5rem .5rem .1rem rgb(224, 224, 224);
    border-radius: .5rem;
    padding: .3rem;
  }

  dd > img {    
    left: 100%;
  }

  h3 > img {    
    left: 50%;
    max-width: 50vh;
  }

  dd > small {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: N; /* number of lines to show */
    line-height: X;        /* fallback */
    max-height: X*N;       /* fallback */
  }

  dd:hover > img, h3:hover > img {
    display: block;
  }

  select {
    margin-bottom: 4px;
  }
  
  .faucet {
    display: -ms-grid;
    display: grid;
    grid-gap: .5rem;
    -ms-grid-columns: (minmax(15em, 1fr)) [auto-fit];
  }

  .max {
    max-width: 20em;
  }

  @media screen and (min-width: 60rem) {
    .faucet {      
    grid-template-areas: "h h h"
                     "size spread dril"
                     "b b button";
    }
  }

  @media screen and (max-width: 60rem) {
    .faucet {      
      grid-template-areas: "h" "size" "spread" "dril" "button";
    }
  }

  .heading {
    grid-area: h;
  }
  .size {
    grid-area: size;
  }
  .spread {
    grid-area: spread;
  }
  .dril {
    grid-area: dril;
  }
  .button {
    grid-area: button;
  }
  
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15em, 1fr)) [auto-fit];
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
  }
  @media screen and (min-width: 1250px){
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }

  }
  @media screen and (max-width: 1250px){
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }

  }
  @media screen and (max-width: 1000px){
      .grid {
          grid-template-columns: repeat(3, 1fr);
      }

  }

  @media screen and (max-width: 500px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
  }


#buy {
    position: relative;
    margin: 1.25rem 2.5rem 1.25rem 1.5rem;
    text-align: center;
}

.notification {
    position: relative;
  }

  .notification > .delete {
    position: absolute;
    right: 0.5em;
    top:0.5rem;
  }

  .dorder {    
    margin-top: -1em;
  }

.alert {
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-bottom: 5px;
  cursor: pointer;
}
.alert-info {
  background-color: rgba(94, 175, 193, 0.62);
}
.alert-warning {
  background-color: rgba(255, 157, 0, 0.59);
}
.alert-danger {
  background-color: rgba(255, 0, 0, 0.49);
}
.alert-success {
  background-color: rgba(32, 158, 103, 0.62);
}
.success {
  color: rgba(32, 158, 103, 0.62);
}
.alert > .fa {
  position: absolute;
  right: 0.15em;
  top: 0em;
}
td {
  padding: 3px;
  margin-right: 3px;
  min-width: 80px;
}
.mattd {
  min-width: 135px;
}
.access{
  max-height: 250px;
  border-left: 1px solid #f1f1f1;
  box-shadow: 5px 5px 3px #ccc;
  cursor: pointer;
}

.access:hover {
  border: 1px solid #80D0FF;
  max-height: 260px;
  padding-top: 0px;
  margin-bottom: -10px;
}
.modal {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(48, 2, 2, 0.49);
}

epad {
  padding: 1rem;
  margin-top: 1rem;
}

.jumbotron {
  position: relative;
  top: 25%;
  left: 25%;
  min-height: 25%;
  width: 50%;
  background-color: #fff;
}

.jumbotronMed {
  position: relative;
  background-color: #fff;
  grid-auto-rows: minmax(100px, auto);
  max-height: 90%;
}
.medContent {
  grid-area: content;
  grid-auto-rows: minmax(100px, auto);
}

.medColors {
  grid-area: color;
}

.medWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15em, 1fr))[auto-fit];
  grid-gap: .5rem;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 65rem) {
  .jumbotronMed {
    top: 1.5%;
    left: 2.5%;
    min-height: 35%;
    width: 95%;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .medWrap {
    grid-template-areas: "content" "color";
  }

  .medCon {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15em, 1fr))[auto-fit];
    grid-gap: .5rem;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "image caption button";
  }
}

@media screen and (min-width: 65rem) {
  .jumbotronMed {
    top: 2.5%;
    left: 10%;
    min-height: 35%;
    width: 80%;
  }
  
  .medWrap {
    grid-template-areas: "content color";
  }
}

.jumbotron-alert {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  min-height: 33%;
  background-color: rgb(2, 45, 73);
  color: rgb(255, 255, 255);
}

.center {
  text-align: center;
}

@media(max-width: 992px){
  .col-xs-4, .col-sm-4 {
    width: 32%;
    margin-right: 3px;
  }

}
  
.delete {
    margin-right: 0.375em;
    margin-left: auto;
}

  .delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(255, 0, 0, 0.20);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 1rem;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
  }

  .delete:before, .delete:after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }

  .delete:before {
    height: 2px;
    width: 50%;
  }

  .delete:after {
    height: 50%;
    width: 2px;
  }

  .delete:hover, .delete:focus {
    background-color: rgb(255, 0, 0);
  }

  .delete:active {
    background-color: rgb(255, 105, 0);
  }

  .delete.is-small {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
  }

  .delete.is-medium {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;
  }

  .delete.is-large {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
  }

  .delete {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 0.75em;
  }
  .glass {
    height: 100%;
  }
  .glass:hover {
    border: 1px solid #199fc0;
  }
  .access{
    max-height: 150px;
    border-left: 1px solid #f1f1f1;
    box-shadow: 5px 5px 3px #ccc;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .access:hover {
    border: 1px solid #80D0FF;
    max-height: 160px;
    padding-top: 0px;
    margin-bottom: -10px;
  }
  .right {
    position: relative;
    left: 75%;
  }
  .caption {
      grid-area: caption;
      padding: 1rem;
  }
  .image {
      grid-area: image;
      overflow: hidden;
      position: relative;
      padding: 1rem;
      text-align: center;
  }

  .image a img {
      max-height: 45vw;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
  }

  .button {
    grid-area: button;
  }
  .v-wrap {
      grid-template-areas: "button" "image" "caption" ;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(15em, 1fr)) [auto-fit];
      grid-template-rows: 3fr;
      grid-row-gap: 1rem;
  }
  
  .v-wrap2 {
    grid-template-areas: "title" "points" "totals";
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15em, 1fr)) [auto-fit];
    grid-template-rows: 3fr;
    grid-row-gap: 1rem;
  }

  .is-heading {
    grid-area: title;
  }

  .is-points {
    grid-area: points;
  }

  .is-totals {
    grid-area: totals;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .caption2 {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(15em, 1fr)) [auto-fit];
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
