<div class="col-sm-4 col-md-3 col-xs-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <img class="MatImg" src="{{ imageMain() }}" alt=" {{ mat.title || 'missing title' }}">
      <h4>
        <a [routerLink]="['/dashboard/material/', mat.title]">
          {{ mat.title || 'missing title' }}
        </a>
      </h4>
    </div>
    <div class="panel-footer">
      <label for="upload-photo{{ mat.title || 'missing title' }}">
        <i class="fa fa-file-image-o" aria-hidden="true"></i>
        <input type="file" name="photo" id="upload-photo{{ mat.title || 'missing title' }}" class="upload-photo" (change)="detectFiles($event)">
      </label>
      <button type="button" class="btn btn-success btn-xs" (click)="uploadSingle()">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </button>
      <div class="btn-group pull-right">
        <span type="button" class="btn btn-success btn-xs" *ngIf='mat.active' (click)='updateActive(false)'>
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </span>
        <span type="button" class="btn btn-warning btn-xs" *ngIf='!mat.active' (click)='updateActive(true)'>
          <i class="fa fa-square-o" aria-hidden="true"></i>
        </span>
        <span type="button" class="btn btn-danger btn-xs" (click)='deleteItem()'>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
</div>
