.skew {
    max-height: 200px;
}
.mods {    
    position: relative;
    z-index: 0;
}
.wrapper {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 33%;
    z-index: 9999;
    width: 14rem;
  }

#toBasket {
    position: relative;
    margin: 1.25rem 2.5rem 1.25rem 1.5rem;
    text-align: center;
    height: 9.5rem;
}

#toBasket:hover {
    color: #831a18;
    cursor: pointer;
}

#review {
    position: relative;
    margin: 1.25rem 2.5rem 1.25rem 1.5rem;
    text-align: center;
    height: 9.5rem;
}

.alert-warning > a {
    color: #8a6d3b;
    display: block;
}
.alert-warning > a:hover {
    color: #5c4116;
    text-decoration: none;
}